@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.service-grid {
  &__row {
    display: flex;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    @include flex-column;
    align-items: center;
    flex: 1;
    padding: 16px 0;

    &__icon {
      margin-bottom: 10px;
      @include flex-center;
    }

    .text {
      font-size: $font-size-sm;
      color: $text-secondary;
    }
  }
}

