.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  vertical-align: middle;
  font-size: 0;
  margin: 0;
  padding: 0;

  image {
    display: block;
  }

  &--placeholder {
    background-color: transparent;
  }
}
